.displayZone{
    background-image: url('./images/clear-weather.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    border-radius: 15px;
}